.title {
    color: rgb(201, 26, 14);
    font-size: 30px;
}

ol li {
    margin-top: 10px;
    background-color: #f3cd4f;
    height: 60px;
    border-radius: 4px;
    padding: 15px;
    list-style-type: none;
    color:black;
}

.completedTask {
    margin-top: 10px;
    background-color: #559e33;
    height: 60px;
    border-radius: 4px;
    padding: 15px;
    list-style-type: none;
    color:white;
}

.completedTask span {
    text-decoration: line-through;
}

.taskTime{
    float: right;
    font-size: 15px;
    display: flex;
}
