<template>
  <div class="todoContainer">
    <h1 class="title">MY TODO</h1>
    <el-input
      placeholder="ADD Task"
      v-model="input"
      clearable
      @change="onChange"
      style="margin-bottom:30px"
    >
    </el-input>

    <ol class="list">
      <!-- <el-checkbox  > -->
      <!-- <el-checkbox
      v-if=" checkedTasks.length > 0"
        :indeterminate="isIndeterminate"
        v-model="checkAll"
        @change="handleCheckAllChange"
        style="color:white;"
        >Select All</el-checkbox
      > -->

      <el-checkbox-group
        v-model="checkedTasks"
        @change="handleCheckedTaskChange"
      >
        <li class="list-item" v-for="(item, index) in tasks" :key="index">
          <span v-if="item.ID == editInput && editable">
            <input
              :value="item.taskName"
              id="editableInput"
              v-on:keyup.enter="onEditEnter(item)"
            />
          </span>

          <el-checkbox
            class="listCheckBox"
            v-else
            :label="item.taskName"
            :key="item.ID"
            @change="checkTask(item)"
          >
            <span
              v-bind:class="[item.completedTask == 1 ? completeTaskStyle : '']"
              @click="onClikEdit(item)"
            >
              {{ item.taskName }}</span
            >
          </el-checkbox>

          <div class="selectIconContainer">
            <el-select
              v-model="value"
              @change="onAssignTask(item.ID)"
              :placeholder="
                item.assignerID == 0
                  ? 'choose assigner'
                  : options.map((val) =>
                      val.ID == item.assignerID ? val.user_nicename : null
                    )
              "
              size="mini"
              style="margin-right: 15px; width:140px;"
            >
              <el-option
                v-for="user in options"
                :key="user.ID"
                :label="user.user_nicename"
                :value="user.ID"
              >
              </el-option>
            </el-select>
            <i class="el-icon-close iconDelete" @click="onClikDelete(item)"></i>
          </div>
        </li>
      </el-checkbox-group>

      <!-- </el-checkbox> -->
    </ol>
  </div>
</template>
<script>
import {
  wp_mytodo_task,
  wp_mytodo_fetch_task,
  wp_mytodo_delete_task,
  wp_mytodo_edit_task,
  wp_mytodo_completedTask,
  wp_mytodo_fetch_allUser,
  wp_AssignUserTask,
} from "../ajax";

export default {
  data() {
    return {
      input: "",
      editInput: "",
      data: "",
      tasks: [],
      showList: false,
      check: true,
      checkedTasks: [],
      isTaskCompleted: false,
      editable: false,
      showDeleteBtn: false,
      checkAll: false,
      isIndeterminate: true,
      completeTaskStyle: "completeTaskStyle",
      options: [],
      value: "",
    };
  },

  async created() {
    let allTasks = await wp_mytodo_fetch_task();
    this.tasks = JSON.parse(allTasks.data);
    let allUsers = await wp_mytodo_fetch_allUser();
    this.options = JSON.parse(allUsers.data);
  },

  methods: {
    async onChange(item) {
      await wp_mytodo_task(item);
      this.fetchTasks();
      this.input = "";
      this.showList = true;
      this.editable = false;
    },

    async onEditEnter(item) {
      var inputVal = document.getElementById("editableInput").value;
      this.value=''
      await wp_mytodo_edit_task(inputVal, item.ID);
      this.editable = false;
      this.fetchTasks();
    },
    onClikEdit(item) {
      this.editInput = item.ID;
      this.editable = !this.editable;
    },
    async checkTask(item) {
      if (item.completedTask == "1") {
        await wp_mytodo_completedTask(0, item.ID);
        this.checkedTasks.filter((item) => item !== item.taskName);
      } else {
        await wp_mytodo_completedTask(1, item.ID);
      }
      this.fetchTasks();
    },

    async onClikDelete(item) {
      await wp_mytodo_delete_task(item.ID);
      this.fetchTasks();
    },
    async fetchTasks() {
      this.tasks = JSON.parse((await wp_mytodo_fetch_task()).data);
    },
    handleCheckAllChange() {
      this.checkAll
        ? this.tasks.map((item) => this.checkedTasks.push(item.taskName))
        : (this.checkedTasks = []);
    },
    handleCheckedTaskChange(value) {
      console.log(value);
    },
   async onAssignTask(item) {
      console.log(item, this.value);
      await wp_AssignUserTask(this.value, item);
      this.value = "";
       this.fetchTasks();
    },
   async fetchUsers() {
      let allUsers = await wp_mytodo_fetch_allUser();
      this.options = JSON.parse(allUsers.data);
      console.log(this.options);
    },
  },
};
</script>

<style scoped>
.title {
  color: white;
}

.todoContainer {
  padding-left: 30%;
  padding-right: 30%;
}

.list {
  width: auto;
  margin-top: 50px;
}

.list-item {
  margin-top: 10px;
  background-color: #454888;
  height: 30px;
  border-radius: 4px;
  padding-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  list-style-type: none;
}

.list-item span {
  float: left;
  margin-left: 20px;
  margin-top: 5px;
  /* margin-right: 150px; */
  color: white;
  font-size: 15px;
}

.listCheckBox {
  float: left;
  margin-left: 20px;
  color: white;
}
.completeTaskStyle {
  text-decoration: line-through;
}
#editableInput {
  border-color: transparent;
  background: white;
  color: black;
  font-size: 15px;
  padding: 3px;
}

.iconDelete {
  float: right;
  margin-right: 20px;
  cursor: pointer;
  font-size: 20px;
  color: white;
}

.btnTaskComplete {
  border-radius: 4px;
  background-color: #fa4f00;
  border: none;
  color: #ffffff;
  text-align: center;

  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 15px;
  margin-top: 20px;
  height: 40px;
}

.btnTaskComplete span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btnTaskComplete span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btnTaskComplete:hover span {
  padding-right: 25px;
}

.btnTaskComplete:hover span:after {
  opacity: 1;
  right: 0;
}

.selectIconContainer {
  float: right;
}
</style>
