<template>
  <div id="app">
    <Todo />
  </div>
</template>

<script>
import Todo from './components/Todo'

export default {
  name: 'App',
  components: {
    Todo
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;

  text-align: center;
  margin-top: 0px;
  padding-top: 30px;
  background : #2A3950; ;
  height: 100vh;
}
</style>
